<h1><%= @list.title %></h1>

<% unless @list.new_record? %>
<p>
  <%= render 'form_add_to_registered_site', list: @list %>
</p>
<% end %>

<%= render 'items/form', remote: true %>

<div id="items_wrapper" class="row">
  <table id="items_table" >
    <thead>
      <th>Item</th>
    </thead>
    <tbody id="items_table_body">
      <%= render @list.items.order('created_at desc') %>
    </tbody>
  </table>
</div>
