<%= form_for([@list, @list.items.new], remote: remote) do |form| %>
  <div class="field">
    <%= form.label 'Add Item' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.hidden_field :list_id, value: @list.id %>
  </div>


<% end %>